  <%= bootstrap_form_with model: current_request, url: ai_path, method: :post, layout: :inline do |f| %>
    <div class="input-group">
      <%= f.text_field :query, required: true, hide_label: true, autofocus: true, input_group_class: 'input-group-lg', value: current_request.query %>
      <div class="d-flex">
        <%= f.submit ">>", class: 'btn btn-primary btn-lg' %> 
      </div>
    </div>
  <% end -%>
        <%= link_to "Clear", ai_path, class: "text-small text-muted" %>

  <% if current_request.response.any? %>
  <div class="alert alert-info fw-bold mt-4">
    <%= current_request.response_text.gsub("/n","<br>") %>
  </div>
  <div class="small mt-3 pre">
    <pre><%= JSON.pretty_generate current_request.response %></pre>
  </div>
  <% end -%>
