<%= link_to "< Threads", ai_request_threads_path %>
<div class="row">
  <div class="col-lg-8">
    <div class="card mb-4">
      <div class="card-body">
        <%= turbo_frame_tag :requests do %>
          <% current_thread.requests.each do |r| %>
            <%= render "ai/request_threads/request", r: r %>  
          <% end -%>    
        <% end -%>
      </div>        
    </div>

    <%= turbo_frame_tag :new_query do %>
      <%= render "ai/request_threads/form" %>
    <% end -%>

  </div>
  <div class="col-lg-4 bg-light">
    <%= turbo_frame_tag :thread_debug do %>
    <% end -%>
  </div>
</div>