<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-873H6Z18YS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-873H6Z18YS');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DEMO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body data-controller="body" >
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <h1>WD</h1>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><%= link_to "Home", root_path, class: "nav-link px-2 link-secondary" %></li>
        <li><%= link_to "Chat", ai_request_threads_path, class: "nav-link px-2 link-dark" %></li>
        <li><%= link_to "Image", new_ai_image_request_path, class: "nav-link px-2 link-dark" %></li>
        <li><%= link_to "Requests", ai_requests_path, class: "nav-link px-2 link-dark" %></li>
      </ul>

    </header>
    <%= yield %>
    </div>
  </body>
</html>
